.form{
    display: flex;
    flex-flow: column;
}
.form-control{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control label{
color:rgb(212, 68, 68)
}
.form-control input{
    margin-left: 4px;
    border-radius: 16px;
    border-style: none;
border:rgb(212, 68, 68) 1px solid ;
}
.form-actions{
   display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-actions button{
 background-color: rgb(184, 40, 40);
 padding: 5px 19px;
 font-weight: 600;
 color:white;
 font-size:20px;
 border-radius: 14px;
 border-style: none;
}